body {
    font-family: 'Signika', sans-serif;
    background-color: black;
    color: white;
}

header {
    background-color: #333;
    padding: 16px;
}

button {
    background-color: #444;
    color: white;
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
}

button:hover {
    background-color: #555;
}

textarea {
    background-color: transparent;
    border: 2px solid #444;
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
}

textarea:focus {
    outline: none;
    border-color: #00b3b3;
}

footer {
    background-color: #333;
    padding: 16px;
}

#modeMenu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #333;
    padding: 10px;
}

#modeMenu button {
    width: 100%;
    padding: 10px;
}

#menuButton {
    font-size: 24px;
    cursor: pointer;
}
